@import "tailwindcss";
/* @plugin '@tailwindcss/line-clamp'; */

body {
  font-family: "Poppins", sans-serif;
}
@layer components {
  .grid-auto-fill {
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  }
}
@theme {
  --color-primary: #2e3192;
}
.phone::-webkit-inner-spin-button,
  .phone::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* .phone {
    -moz-appearance: textfield;
    appearance: textfield;
  } */

@utility flex-res {
  @apply flex flex-col lg:flex-row;
}
@utility noscrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
}
@utility triangle {
  &{
    clip-path: polygon(50% 0%, 0 100%, 100% 100%);
  }
}
